body {
  background-color: #e0dbf9;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(newpurple.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url(finakmask.gif);
  mask-size: cover;
  mask-position: center;
}
